h1
{
	color: red; 
	font-size: 40px;
}

.body{
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(239,191,254,0.93) 31.2%, rgba(89,243,83,1) 60%, rgba(83,97,243,1) 78.2% );
}

#my_canvas{
    border-width:10px;
	background-color:white;
	border-style:ridge;
}
